
.mb_br{display:none !important;}

/* 공통 alert confirm */
.btn_guide{display:inline-block;font-size:16px;padding:15px 30px;border:1px solid #ddd;}
.pc_item{display:block !important;}
.mb_item{display:none !important;}
.design_popup_wrap,
.design_modal_wrap{position:fixed;top:0;left:0;width:100%;height:100%;z-index:100;min-width:280px;overflow:hidden;display:none;}
.design_popup_wrap{}
.design_popup_wrap.active,
.design_modal_wrap.active{display:block;}
.design_modal_wrap.active.motion .bg_design_modal{background:rgba(0,0,0,.65);}
.design_modal_wrap.active.motion .design_modal{transform:translateY(0);opacity:1;}
.bg_design_modal,
.bg_design_popup{position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0);z-index:0;transition:.5s;}
.design_modal_tb{display:table;width:100%;height:100%;table-layout: fixed;z-index:5;position:absolute;top:0;left:0;}
.design_modal_td{display:table-cell;vertical-align: middle;padding:28px;}
.design_modal_w{display:flex;justify-content: center;align-items: center;width:100%;height:100%;}
.design_popup_item,
.design_modal{background:#fff;position:relative;overflow: hidden;transform:translateY(-50%);transition:.5s;opacity:0;min-width:300px;border-radius:rem(10);}
.design_modal_cont_w{display:flex;align-items: center; justify-content: center;padding:20px;min-height:120px;box-sizing: border-box;}
.design_modal_text{}

.design_popup_tb{display:table;width:100%;height:100%;table-layout: fixed;z-index:5;position:absolute;top:0;left:0;}
.design_popup_td{display:table-cell;vertical-align: middle;padding:28px;}
.design_popup_item{background:#fff;position:relative;overflow: hidden;z-index:2;}
.design_popup_content_wrap{position:relative;overflow:hidden;overflow-y:auto;}
.design_bottom_popup_w{position:absolute;bottom:0;left:0;width:100%;background:#fff;}
.design_popup_content{}

.btn_dmsm_wrap{display:flex;align-items: center;justify-content: center;background:#00c599;text-align:center;}
.btn_dmsm{height:54px;flex:1;display:flex;align-items: center;margin:0 -1px;font-weight:500;justify-content: center;color:#fff;border-left:1px solid transparent;border-right:1px solid rgba(255,255,255,.5);}
.btn_popupsubmit_wrap{display:flex;align-items: center;justify-content: center;background:#00c599;text-align:center;}
.btn_popupsubmit{height:54px;flex:1;display:flex;align-items: center;margin:0 -1px;font-weight:500;justify-content: center;color:#fff;border-left:1px solid transparent;border-right:1px solid rgba(255,255,255,.5);}
.btn_popupsubmit.swiper-button-next{
    position: initial;
    height:54px;flex:1;display:flex;align-items: center;margin:0 -1px;font-weight:500;justify-content: center;color:#fff;border-left:1px solid transparent;border-right:1px solid rgba(255,255,255,.5);
    background: none;
}
.design_popup_content_wrap .btn_close{position: absolute;top: 12px;right: 7px;width: 30px;height: 30px;background: url(../images/icon_close_black.png) center center no-repeat;background-size: 13px;transform: translate(0);}
.btn_layerclose{display:block;width:50px;height:50px;position:absolute;top:0;right:0;font-size:0;line-height:0;}
.btn_layerclose:before,
.btn_layerclose:after{width:20px;height:2px;display:block;content:'';position:absolute;top:50%;left:50%;background:#9d9d9d; margin:-1px 0 0 -10px;
    transform: translateZ(0);-webkit-transform: translateZ(0);-ms-transform: translateZ(0);-moz-transform: translateZ(0);
}
.btn_layerclose:before{transform:rotate(45deg);-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);}
.btn_layerclose:after{transform:rotate(-45deg);-ms-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);}
.emp_ctext,
.emp_ctext *{color:#ed4444;}

@media(max-width:1023px){
    .pc_item{display:none !important;}
    .mb_item{display:block !important;}
    .mb_br{display:block !important;}
}




/* 공통 popup */
.popup_wrap{position:fixed;top:0;left:0;width:100%;height:100%;z-index:100000;display:none;align-items: center;justify-content: center;min-width:rem(280);overflow:hidden;}
.popup_item{
    box-sizing: border-box;z-index:20; max-width:rem(500);margin:rem(30) auto; max-height:calc(100% - rem(60)); background:#fff; position:relative; display:flex; flex-direction: column;
    -webkit-box-shadow: 2px 2px 14px 2px rgba(64,64,64,0.3); box-shadow: 2px 2px 14px 2px rgba(64,64,64,0.3); border-radius:1.1875rem; width:100%;opacity:0;transition:.4s; transform: translateY(-20%);
}
.popup_titlelow{text-align:center;border-bottom: 1px solid #e7e7e7;flex:0;padding:0 rem(40)}
.popup_title{font-size:rem(20);color:#2b2b2b;padding:rem(25) rem(15) rem(15);font-weight:500;}
.popup_contentlow{position:relative;overflow:hidden;overflow-y:auto;flex:1;font-size:rem(12);color:#333333;}
.pcont_inwrap{padding:rem(25) rem(23);}
.popup_btnlow{flex:0}
.popup_wrap.active{display:flex}
.popup_wrap.active.motion .popup_item{opacity:1;transform: translateY(0);}
.popup_wrap.active.motion .bg_dim{opacity:.6;}
.popup_wrap.active{display:flex}
.btn_submitbox_w{display:flex;margin:0 rem(-2.5);padding:rem(30) rem(23);border-top:1px solid #e7e7e7;}
.btn_submitbox{display:inline-block;font-size:rem(16);text-align:center;color:#4e4e4e;font-weight:500;flex:1;margin:0 rem(2.5);background:#e7e7e7;border-radius:rem(5);padding:rem(12);}
.btn_submitbox.dtype2{background:#00c599;color:#fff;}
.btn_popup_close{display:inline-block;width:rem(40);height:rem(40);position:absolute;top:0;right:0;font-size:0;line-height:0;}
.btn_popup_close:before,
.btn_popup_close:after{width:rem(15);height:rem(1);display:block;content:'';position:absolute;top:50%;left:50%;background:#000; margin:rem(-0.5) 0 0 rem(-7.5);
    transform: translateZ(0);-webkit-transform: translateZ(0);-ms-transform: translateZ(0);-moz-transform: translateZ(0);
}
.btn_popup_close:before{transform:rotate(45deg);-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);}
.btn_popup_close:after{transform:rotate(-45deg);-ms-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);}
@media (max-width:1023px){
    .popup_title{font-size:rem(16);padding:rem(15) rem(10) rem(10);}
}
@media (max-width:720px){
    .popup_wrap{left:0;transform:translateX(0);width:100%;}
    .popup_item{margin:20px;max-height: calc(100% - 40px);}
    .pcont_inwrap{padding:rem(15)}
    .btn_submitbox_w{padding:rem(15);}
    .btn_submitbox{font-size:rem(14);padding:rem(8)}
}
/* // 공통 popup */


/* main */
.main_visual_wrap{background:url("../images/bg_mv.jpg") no-repeat 50% 50%/cover;min-height:22.396vw;display:flex;align-items: center;justify-content: center;text-align: center;}
.main_copy_group{display:inline-block;}
.main_copy_signature{color:#fff;line-height:1.3;font-weight:700;padding:0 3.125vw 1vw;border-bottom:1px solid rgba(255,255,255,.26);margin-bottom:1vw;}
.copy_signature_main{font-size:2.344vw;}
.copy_signature_sub{font-size:2.917vw;}
.main_copy_else{}
.main_copy_else_para{font-size:1.771vw;color:#13d5aa;font-family:'Open Sans','Noto Sans KR';letter-spacing: rem(3);font-weight:600}
.main_content_group{}
.mc_current_wrap{background:url("../images/bg_mc01.jpg") no-repeat 50% 50%/cover;padding:2.083vw 0;border-bottom:1px solid #e8e8e8;}
.pixed_container{max-width:rem(1280);position:relative;margin:0 auto;padding:0 rem(30);}
.mc_current_wrap .pixed_container{display:flex;}
.mc_current_item{flex:1;display:flex;align-items: center;justify-content: center;flex-wrap:wrap;border-right:1px solid rgba(255,255,255,.3);padding:0.417vw 0;}
.mc_current_item:last-of-type{border-right:0;}
.mc_current_label{display:flex;align-items: center;}
.mc_current_label:before{display:block;content:'';width:2.917vw;height:2.917vw;flex:0 0 2.917vw;margin-right:0.521vw;background-repeat:no-repeat;background-size:100% auto;background-position:0 0;}
.mc_current_label_text{display:inline-block;white-space: nowrap;font-size:1.302vw;font-weight:700;letter-spacing: rem(-1);color:#fff;}
.mc_current_label.ico_coin:before{background-image:url("../images/ico_mc01_01.png");}
.mc_current_label.ico_egg:before{background-image:url("../images/ico_mc01_02.png");}
.mc_current_label.ico_dony:before{background-image:url("../images/ico_mc01_03.png");}
.mc_current_label.ico_point:before{background-image:url("../images/ico_mc01_04.png");}
.mc_current_data{margin-left:0.7vw;background:rgba(0,0,0,.16);border-radius:rem(100);padding:0.521vw 0.885vw}
.mc_current_data_text{font-size:1.042vw;color:#fffc00;font-weight:700;line-height:1;}
.mc_current_item:hover .mc_current_label_text{color:#fffc00;}
.mc_current_item:hover .mc_current_label:before{background-position:0 100%;}
.mc_user_wrap{border-bottom:1px solid #e8e8e8;padding:rem(40) 0;}
.mc_user_wrap .pixed_container{display:flex;}
.mc_user_men_cols{flex:0 0 rem(190);width:rem(190);}
.mc_user_men{display:block;width:rem(70);height:rem(70);border-radius:100%;border:1px solid #85ead4;margin:0 auto;background:url("../images/ico_mcmen.png") no-repeat 50% 50%/rem(34) auto;}
.mc_user_spec_cols{flex:1;}
.mc_user_spec_list{display:flex;flex-wrap:wrap;margin:rem(-4)}
.mc_user_spec_list > li{flex:0 0 50%;width:50%;display:flex;align-items: center;box-sizing: border-box;padding:rem(4);}
.mc_user_spec_list > li:last-of-type{}
.mc_user_label_cell{flex:0;}
.mc_user_data_cell{flex:1;margin-left:rem(15)}
.mc_user_label{line-height:1;background:#fff9da;color:#333333;display:inline-block;white-space: nowrap;border:1px solid #ffd800;border-radius:rem(20);text-align: center;padding:rem(7) rem(10) rem(8);min-width:60px;}
.mc_user_data{}
.mc_user_btn_cols{flex:0;text-align: right;}
.btn_mc_icobox{display:inline-flex;align-items: center;padding:rem(8) rem(20);background:#ffe032;border-radius:rem(54)}
.btn_mc_icobox:before{display:inline-block;content:'';width:rem(38);height:rem(38);flex:0 0 rem(38);background:#fff url("../images/ico_chmark.png") no-repeat 50% 50%;border-radius:100%;}
.mc_icobox_text{display:inline-block;font-size:rem(17);color:#333333;line-height:1;white-space: nowrap;margin-left:rem(5)}
.mc_multi_wrap{border-bottom:1px solid #e8e8e8;}
.mc_multi_wrap .pixed_container{}
.mc_jackpot_item{}
.mc_title_cell{}
.mc_data_cell{}
.mc_title{}
.mc_chart_data_list{}
.mc_chart_data_list > li{}
.mc_chart_data_list > li:last-of-type{}
.mc_chart_title{}
.mc_chart_box{}
.mc_chart_in{}
.mc_chart_number{}
.mc_chart_btn_group{}
.btn_mcbox{}
.mc_quick_item{}
.mc_quick_list{}
.mc_quick_list > li{}
.mc_quick_list > li:last-of-type{}
.mc_quick{}
.mc_quick:before{}
.mc_quick_text{}
.mc_quick{}
.mc_quick.ico_present:before{}
.mc_quick.ico_return:before{}
.mc_quick.ico_recommand:before{}
.mc_quick.ico_qr:before{}
.mc_linkage_wrap{background:url("../images/bg_mc02.jpg") no-repeat 50% 50%/cover;padding:2.604vw 0;}
.mc_linkage_wrap .pixed_container{max-width:rem(1220); padding:0 rem(30)}
.mc_linkage_title_row{margin-bottom:rem(20)}
.mc_linkage_title{display:flex;align-items: center;}
.mc_linkage_title:before{display:block;content:'';width:rem(38);height:(38);flex:0 0 rem(38);background: #7e91b5 url("../images/ico_notice.png") no-repeat 50% 50%/100% auto;border-radius:100%;}
.mc_linkage_title_text{font-size:rem(24);color:#1f1f1f;line-height:1;font-weight:700;margin-left:rem(10)}
.mc_linkage_data_row{}
.mc_linkage_data_list{display:flex;flex-wrap:wrap;margin:rem(-6);}
.mc_linkage_data_list > li{box-sizing: border-box;flex:0 0 50%;padding:rem(6);width:50%;}
.mc_linkage_data_list > li.nodata_li{flex:1;text-align: center;padding:5.208vw 1.563vw}
.mc_linkage_data_list > li.nodata_li .nodata_para{color:#000;}
.mc_linkage_data_list > li:last-of-type{}
.mc_linkage_data{background:#fff url("../images/ico_notice_docu.png") no-repeat rem(18) 50%/rem(23) auto;border:1px solid #e6e6e6;border-radius:0.521vw;display:flex;align-items: center;padding:rem(20) rem(20) rem(20) rem(55)}
.mc_linkage_data:before{}
.mc_linkage_text{flex:1;min-width:0;line-height:1;white-space: nowrap; text-overflow: ellipsis;overflow:hidden;position:relative; max-width:99%;font-size:rem(17);color:#333333;}
.mc_linkage_else{flex:0;white-space: nowrap;margin-left:rem(10);font-size:rem(14);}
.nodata_para{}
.btn_mc_more{}
.btn_mc_more:before{}
.btn_mc_more:after{}
.mc_menuobj_wrap{padding:3.646vw 0;border-top:1px solid #e8e8e8;}
.mc_menuobj_wrap .pixed_container{}
.mc_menuobj_list{display:flex;text-align: center;}
.mc_menuobj_list > li{flex:1;}
.mc_menuobj_list > li:last-of-type{}
.mc_menuobj{display:block;}
.mc_menuobj:before{display:block;content:'';width:5.833vw;height:5.833vw;border-radius:100%;margin:0 auto;background-color:#f2f2f2;background-repeat:no-repeat;background-size:100% auto;background-position: 0 0;}
.mc_menuobj.ico_earth:before{background-image:url("../images/ico_mc03_01.png");}
.mc_menuobj.ico_battery:before{background-image:url("../images/ico_mc03_02.png");}
.mc_menuobj.ico_outlet:before{background-image:url("../images/ico_mc03_03.png");}
.mc_menuobj.ico_game:before{background-image:url("../images/ico_mc03_04.png");}
.mc_menuobj.ico_charge:before{background-image:url("../images/ico_mc03_05.png");}
.mc_menuobj.ico_direct:before{background-image:url("../images/ico_mc03_06.png");}
.mc_menuobj.ico_rental:before{background-image:url("../images/ico_mc03_07.png");}
.mc_menuobj.ico_marketing:before{background-image:url("../images/ico_mc03_08.png");}
.mc_menuobj_text{font-size:rem(18);color:#2b2b2b;margin-top:1.823vw;font-weight:500;letter-spacing: -.5px;}

@media (max-width:1680px){
    .mc_menuobj_text{font-size:rem(15);}
}

@media (max-width:1023px){
    .main_visual_wrap{min-height:0;padding:rem(30) rem(20)}
    .main_copy_group{display:block;}
    .main_copy_signature{padding:0 0 rem(10);margin-bottom:rem(10);}
    .copy_signature_main{font-size:4.800vw}
    .copy_signature_sub{font-size:5.867vw;margin-top:1.333vw}
    .main_copy_else_para{font-size:4.5vw;letter-spacing: rem(1.2);line-height:1.3;}

    .mc_current_wrap{}
    .pixed_container{padding:0;}
    .mc_current_wrap .pixed_container{flex-wrap:wrap;}
    .mc_current_item{flex:0 0 50%;flex-wrap:wrap;box-sizing:border-box;border-right:1px solid rgba(255,255,255,.3);padding:rem(5) rem(10);}
    .mc_current_item:last-of-type{border-right:0;}
    .mc_current_item:nth-of-type(2n){border-right:0;}
    .mc_current_label{flex:0;display:flex;align-items: center;}
    .mc_current_label:before{width:rem(25);height:rem(25);flex:0 0 rem(25);}
    .mc_current_label_text{font-size:rem(12);font-weight:700;letter-spacing: rem(-1);color:#fff;min-width:rem(33)}

    .mc_current_data{flex:1;margin-left:rem(10);padding:rem(5);text-align:center;}
    .mc_current_data_text{font-size:rem(13);letter-spacing: 0;}

    .mc_linkage_wrap{padding:rem(20) 0;}
    .mc_linkage_wrap .pixed_container{padding:0 rem(20)}
    .mc_linkage_title_row{margin-bottom:rem(10)}
    .mc_linkage_title:before{width:rem(20);height:(20);flex-basis:rem(20);}
    .mc_linkage_title_text{font-size:rem(15);margin-left:rem(5)}
    .mc_linkage_data_row{}
    .mc_linkage_data_list{display:block;margin:0;}
    .mc_linkage_data_list > li{padding:0 0 rem(6) 0;width:auto;}
    .mc_linkage_data_list > li.nodata_li{padding:rem(50) rem(20)}
    .mc_linkage_data_list > li:last-of-type{margin:0}
    .mc_linkage_data{background-position: rem(13) 50%;background-size:rem(18) auto;padding:rem(10) rem(10) rem(10) rem(38)}
    .mc_linkage_data:before{}
    .mc_linkage_text{font-size:rem(14);}
    .mc_linkage_else{font-size:rem(13);}
    .nodata_para{font-size:rem(14)}

    .mc_menuobj_wrap{padding:rem(10) rem(10);}
    .mc_menuobj_wrap .pixed_container{}
    .mc_menuobj_list{flex-wrap:wrap;}
    .mc_menuobj_list > li{flex:0 0 33.3333333333333%;margin:rem(10) 0}
    .mc_menuobj_list > li:last-of-type{}
    .mc_menuobj{}
    .mc_menuobj:before{width:rem(56);height:rem(56);}
    .mc_menuobj_text{font-size:rem(14);margin-top:rem(10);letter-spacing:0;line-height:1.3;}

}
@media (max-width:359px){
    .mc_current_item{display:block;}
    .mc_current_label{justify-content: center;margin-bottom:5px;}
    .mc_current_data{margin-left:0;}
    .mc_menuobj_text{font-size:rem(13);}
}

@media (min-width:1921px){
    .copy_signature_main{font-size:rem(45);}
    .copy_signature_sub{font-size:rem(56);}

    .mc_current_item{padding:0.417vw 0;}
    .mc_current_label:before{width:rem(56);height:rem(56);flex:0 0 rem(56);margin-right:rem(10);}
    .mc_current_label_text{font-size:rem(25);}
    .mc_current_data{margin-left:rem(10);padding:rem(10) rem(17)}
    .mc_current_data_text{font-size:rem(20);}

    .mc_menuobj:before{width:112px;height:112px;}
}